@model AuthorDto

@{
    ViewBag.Title = "Редагувати автора";
}

<form asp-action="Edit" method="post">
    <input hidden asp-for="AuthorID" />

    <h2 class="text-center mb-3">Редагувати</h2>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="AuthorFullName" class="form-label">ПІБ<span class="text-danger">*</span></label>
            <input asp-for="AuthorFullName" class="form-control" />
            <span class="text-danger" asp-validation-for="AuthorFullName"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="CountryID" class="form-label">Країна<span class="text-danger">*</span></label>
            <select asp-for="CountryID" asp-items="ViewBag.Countries" class="form-select" data-val-length-max="100" data-val-length-min="1">
                <option value="">Select a country</option>
            </select>
            <span class="text-danger" asp-validation-for="CountryID"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="BirthYear" class="form-label">Рік народження</label>
            <input asp-for="BirthYear" class="form-control" />
            <span class="text-danger" asp-validation-for="BirthYear"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="DeathYear" class="form-label">Рік смерті</label>
            <input asp-for="DeathYear" class="form-control" />
            <span class="text-danger" asp-validation-for="DeathYear"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-lg-2 col-md-3 offset-lg-4 offset-md-3">
            <button type="submit" class="btn btn-primary form-control">Редагувати</button>
        </div>
        <div class="col-6 col-lg-2 col-md-3">
            <a class="btn btn-secondary form-control" asp-action="Index">Повернутися</a>
        </div>
    </div>
    
    <ul>
        @if (ViewBag.Errors != null)
        {
            @foreach (var error in ViewBag.Errors)
            {
                <li>@error</li>
            }
        }
    </ul>
</form>

<div class="d-flex flex-column align-content-center gap-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Назва</th>
                <th scope="col">Опис</th>
                <th scope="col">Рік публікації</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td>@book.OriginalTitle</td>
                    <td>@book.BookDescription</td>
                    <td>@book.PublicationYear</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}